<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>荔枝博客后台管理系统</title>
    <link rel="icon" th:href="@{/admin/images/favicon.ico}" type="image/ico">
    <meta name="keywords" content="blog" />
    <meta name="description" content="blog" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link th:href="@{/admin/css/materialdesignicons.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/admin/js/bootstrap-multitabs/multitabs.min.css}">
    <link th:href="@{/admin/css/style.min.css}" rel="stylesheet">
</head>
<body>



</body>
</html>