<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>友链更新 - zealously后台管理系统</title>
  <link rel="icon" th:href="@{/admin/images/favicon.ico}" type="image/ico">
  <meta name="keywords" content="blog" />
  <meta name="description" content="blog" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <link th:href="@{/admin/css/materialdesignicons.min.css}" rel="stylesheet">
  <!--标签插件-->
  <link th:href="@{/admin/css/style.min.css}" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-t-15">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form th:action="@{/admin/link/update}" method="post" class="row">
            <input type="hidden" th:value="*{link.id}" name="id">
            <div class="form-group col-md-12">
                <label>名称</label>
              <input type="text" class="form-control" th:value="*{link.linkName}" name="linkName"  placeholder="请输入友链名称" />
            </div>
            <div class="form-group col-md-12">
              <label>链接</label>
              <input type="url" class="form-control" th:value="*{link.linkUrl}" name="linkUrl" placeholder="请输入链接" />
            </div>
            <div class="form-group col-md-12">
              <label>排序</label>
              <input type="text" class="form-control" th:value="*{link.linkRank}" name="linkRank" placeholder="请输入排序" />
            </div>
            <div class="form-group col-md-12">
              <label>状态</label>
              <div class="clearfix">
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" name="isDeleted" value="0" th:field="*{link.isDeleted}"><span>禁用</span>
                </label>
                <label class="lyear-radio radio-inline radio-primary">
                  <input type="radio" name="isDeleted"  value="1" th:field="*{link.isDeleted}" checked><span>通过</span>
                </label>
              </div>
            </div>
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">添 加</button>
              <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<!--标签插件-->
<script type="text/javascript" th:src="@{/admin/js/main.min.js}"></script>
</body>
</html>