<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="footer-fragment">
        <div class="box">
            <!--<div class="wxbox">-->
                <!--<ul>-->
                    <!--<li><img th:src="@{/static/blog/images/wxgzh.jpg}"><span>微信公众号</span></li>-->
                    <!--<li><img th:src="@{/static/blog/images/wx.png}"><span>我的微信</span></li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="endnav">
                <p>Copyright © <a href="#" target="_blank">www.zealx.top</a> 荔枝博客 All Rights Reserved. 备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">黑ICP备20004209号</a></p>
            </div>
        </div>
        <a href="#">
            <div class="top"></div>
        </a>
    </footer>
</body>
</html>