<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>提交成功-荔枝博客</title>
<link rel="icon" th:href="@{/blog/images/favicon.ico}" type="image/ico">
<meta name="keywords" content="blog" />
<meta name="description" content="blog" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/blog/css/base.css}" rel="stylesheet">
<link th:href="@{/blog/css/m.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js"></script>
<script th:src="@{/blog/js/comm.js}"></script>
<!--[if lt IE 9]>
<script th:src="@{/blog/js/modernizr.js}"></script>
<![endif]-->
</head>
<body>
<!--top begin-->
<header th:replace="blog/header::header-fragment"></header>
<!--top end-->
<article>
  <div class="whitebg about">
    <h2 class="gd_title">提交成功</h2>
  </div>
</article>
<footer th:replace="blog/footer::footer-fragment"></footer>
</body>
</html>
